<section class="contact">
  <div class="content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto">
          <div class="mb-5">
            <h3 class="text-white mb-4">Contact Info</h3>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus blanditiis,
              perferendis aliquam.</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3 class="text-white h5 mb-3">Di An</h3>
              <ul class="list-unstyled mb-5">
                <li class="d-flex text-white mb-2">
                  <span class="mr-3"><span class="icon-map"></span></span> Dong Hoa Ward, Di An Town, Binh Duong
                </li>
                <li class="d-flex text-white mb-2"><span class="mr-3"><span class="icon-phone"></span></span> +84 93 456 789
                </li>
                <li class="d-flex text-white"><span class="mr-3"><span class="icon-envelope-o"></span></span>
                  19130214@st.hcmuaf.edu.vn
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h3 class="text-white h5 mb-3">Ho Chi Minh City</h3>
              <ul class="list-unstyled mb-5">
                <li class="d-flex text-white mb-2">
                  <span class="mr-3"><span class="icon-map"></span></span> Linh Trung , Thu Duc, Ho Chi Minh City
                </li>
                <li class="d-flex text-white mb-2"><span class="mr-3"><span class="icon-phone"></span></span> +84 93 456 352
                </li>
                <li class="d-flex text-white"><span class="mr-3"><span class="icon-envelope-o"></span></span>
                  19130157@st.hcmuaf.edu.vn
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="box">
            <h3 class="heading">Send us a message</h3>
            <form class="mb-5" method="post" id="contactForm" name="contactForm">
              <div class="row my-3">
                <mdb-form-control class="col-md-12">
                  <input mdbInput type="text" class="form-control form-control-lg" name="name" id="name">
                  <label mdbLabel for="name" class="form-label">Name</label>
                </mdb-form-control>
              </div>
              <div class="row my-3">
                <mdb-form-control class="col-md-12">
                  <input mdbInput type="text" class="form-control form-control-lg" name="email" id="email">
                  <label mdbLabel for="email" class="form-label">Email</label>
                </mdb-form-control>
              </div>

              <div class="row mb-5">
                <mdb-form-control class="col-md-12 col-lg-12">
                  <textarea mdbInput class="form-control" id="message" rows="4"></textarea>
                  <label mdbLabel class="form-label" for="message">Message</label>
                </mdb-form-control>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <input routerLink="/home" type="submit" value="Send Message" class="btn btn-block btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                </div>
              </div>
            </form>

            <div id="form-message-warning mt-4"></div>
            <div id="form-message-success">
              Your message was sent, thank you!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
