

<div style="height: 500px">
</div>
<!--<div style="margin: 0 auto">-->
  <div class="login-box">
  <h2>Login with</h2>
   <div class="login-social">
      <a href="https://www.facebook.com/lltnhan" class="fbItem" >
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.facebook.com/lltnhan" class="gitItem" >
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.facebook.com/lltnhan" class="ggItem" >
        <i class="fab fa-google"></i>
      </a>
   </div>
    <hr  width="30%" size="3px" align="center" />



  <form>
    <div class="user-box">
      <input type="text" name="" required="">

      <label>Username</label>
      <div class="icons">
        <span> <i class="fas fa-envelope"></i></span>
      </div>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Password</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>

