.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-scrolled {
  background-color: #7d8488;
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #fff;
}

@media (max-width: 991px) {
  .navbar-scroll {
    background-color: #7d8488;
  }
}

.btn-hover {
  &:hover {
    background-color: #fff;
    border-color: transparent;
    color: #444;
    transition: 0.2s;

    ~ {
      .bg-1 {
        opacity: 0;
      }

      .bg-2 {
        opacity: 0.7;
      }
    }
  }
}

.loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}



