<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-scroll" style=" background: linear-gradient(
              45deg,
              rgba(29, 236, 197, 0.7),
              rgba(91, 14, 214, 0.7) 100%
            );">

  <div class="container">
    <a class="navbar-brand" routerLink="home">E-commerce</a>
    <button class="navbar-toggler"
            type="button"
            (click)="basicCollapse.toggle()"
            [attr.aria-expanded]="!basicCollapse.collapsed"
            aria-controls="collapseExample"
            aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse">

      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="product-list">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3 me-lg-0">
          <div class="d-flex align-items-center">
            <ng-container *ngIf="authService.currentUser$  | async as user; else loginButton">
              <button type="button" class="btn btn-outline-light px-3 me-2 btn-hover" (click)="logout()">
                Logout
                &nbsp;
                <i class="fas fa-sign-out-alt"></i>
              </button>
            </ng-container>
            <ng-template #loginButton>
              <button type="button" class="btn btn-outline-light px-3 me-2 btn-hover" routerLink="login">
                Login
              </button>

              <button type="button" class="btn btn-outline-light me-3 btn-hover" routerLink="register">
                Sign up
              </button>
            </ng-template>


          </div>

        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" routerLink="/cart">
            <i class="fas fa-shopping-cart"> {{itemInCart | number}}</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->



