
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-scroll" style=" background: linear-gradient(
              45deg,
              rgba(29, 236, 197, 0.7),
              rgba(91, 14, 214, 0.7) 100%
            );">
    <div class="container">
      <a class="navbar-brand" routerLink="home">Brand</a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product">Sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <div class="d-flex align-items-center">
              <button type="button" class="btn btn-outline-light px-3 me-2 btn-hover" routerLink="login">
                Login
              </button>
              <div class="bg-1"></div>
              <div class="bg-2"></div>
              <button type="button" class="btn btn-outline-light me-3 btn-hover" routerLink="register">
                Sign up for free
              </button>
            </div>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->


