<div class="card mt-5">
  <div class="card-body">
    <main class="mb-6 mt-lg-5">
      <div class="container">
        <!-- Section: Cart -->
        <section class="">
          <div class="row gx-lg-5">
            <div class="col-lg-8 mb-4 mb-md-0">
              <!-- Section: Product list -->
              <section class="mb-5">
              </section>
              <!-- Section: Product list -->
              <div class="empty mb-5 d-flex flex-column justify-content-center align-items-center"
                   *ngIf="items.length <1">
                <p class="text-danger text-lowercase">
                  <i class="fas fa-info-circle mr-1 mb-3">
                    You don't have any item in your cart
                  </i>
                </p>
                <a routerLink="/product-list" class="btn btn-success mb-6 p-3 w-25">Buy Code Now</a>
              </div>

              <ng-container *ngIf="items.length >0">
                <div class="row border-bottom mb-4 " *ngFor="let item of items; let i = index">
                  <div class="col-md-2 mb-4 mb-md-0">
                    <div
                      class=" bg-image ripple rounded-5mb-4overflow-hidden d-block  "
                      data-ripple-color="light"
                    >
                      <img
                        [src]="item.img[0]"
                        class="w-100"
                        alt=""
                      />
                      <a href="#!">
                        <div class="hover-overlay">
                          <div
                            class="mask"
                            style="background-color: hsla(0, 0%, 98.4%, 0.2)"
                          ></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-7 mb-4 mb-md-0">
                    <p class="fw-bold">{{item.title}}</p>
                    <p class="mb-1">
                      <span class="text-muted me-2">Language:</span><span class="fw-bolder">Java</span>
                    </p>
                    <p class="mb-1">
                      <span class="text-muted me-2">Description:</span><span
                      class="fw-bolder">{{item.description}}</span>
                    </p>
                    <p>
                  <span class="text-muted me-2">Seller:</span
                  ><span class="text-primary">{{item.author}}</span>
                    </p>

                    <p class="mb-4">
                      <a class="text-muted pe-3 border-end"
                      ><small class="text-danger" style="cursor: pointer" (click)="onDelete(i)">
                        <i class="fas fa-trash me-2 " aria-hidden="true">
                        </i>Remove</small></a>
                      <a class="text-muted ps-3"
                      ><small
                      ><i class="fas fa-heart me-2"></i>Move to wish
                        list</small
                      ></a
                      >
                    </p>
                  </div>

                  <div class="col-md-3 mb-4 mb-md-0">
                    <div class="input-group mb-4 w-100">
                      <span class="input-group-text" id="typeNumber1">Quantity</span>
                      <input
                        type="number"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default"
                        class="form-control quantity"
                        [value]="item.quantity"
                        (blur)="validateInput($event,i)"

                      />

                    </div>

                    <h5 class="mb-2 mx-2">
                      <span class="align-middle text-danger fs-5">Price: {{item.price|currency}}</span>
                      <br/>

                      <span class="align-middle text-danger fs-5">Total: {{item.price * item.quantity|currency}}</span>
                    </h5>
                  </div>
                </div>

              </ng-container>


              <!-- Section: Details -->
              <section class="">
                <div class="mb-5">
                  <p class="text-primary">
                    <i class="fas fa-info-circle mr-1"></i> Do not delay the
                    purchase, adding items to your cart does not mean booking
                    them.
                  </p>
                </div>

                <div class="mb-5">
                  <h5 class="mb-4">Expected shipping delivery</h5>

                  <p class="mb-0">Thu., 12.03. - Mon, 16.03.</p>
                </div>

                <div>
                  <h5 class="mb-4">We accept</h5>

                  <img
                    class="mr-2"
                    width="45px"
                    src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                    alt="Visa"
                  />
                  <img
                    class="mr-2"
                    width="45px"
                    src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                    alt="American Express"
                  />
                  <img
                    class="mr-2"
                    width="45px"
                    src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                    alt="Mastercard"
                  />
                  <img
                    class="mr-2"
                    width="45px"
                    src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
                    alt="PayPal acceptance mark"
                  />
                </div>
              </section>
              <!-- Section: Details -->
            </div>
            <div class="col-lg-4 mb-4 mb-md-0">
              <!-- Section: Summary -->
              <section class="shadow-4-strong p-4 rounded-5 mb-4">
                <h5 class="mb-5">The total amount of</h5>

                <div class="d-flex justify-content-between mb-3">
                  <span>Temporary amount </span>
                  <span>$</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Shipping </span>
                  <span></span>
                </div>
                <hr class="my-4"/>
                <div class="d-flex justify-content-between fw-bold mb-5">
                  <span>The total amount of (including VAT) </span>
                  <span>${{total | currency}}</span>
                </div>

                <button type="button" class="btn btn-primary btn-rounded w-100">
                  Got to checkout
                </button>
              </section>
              <!-- Section: Summary -->

              <!-- Section: Summary -->
              <section class="shadow-4-strong p-4 rounded-5">
                <h5 class="mb-4">Apply promo code</h5>

                <div class="d-flex align-items-center">
                  <input
                    type="text"
                    class="form-control rounded me-1"
                    placeholder="Promo code"
                  />
                  <button
                    type="button"
                    class="btn btn-link btn-rounded overflow-visible"
                  >
                    Apply
                  </button>
                </div>
              </section>
              <!-- Section: Summary -->
            </div>
          </div>
        </section>
        <!-- Section: Cart -->
      </div>
    </main>
  </div>
</div>


