.btn-buy {
  position: relative;
  padding: 1.4rem 4.2rem;
  padding-right: 3.1rem;
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

.btn-buy:before, .btn-buy:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn-buy:hover {
  color: #fff;
  transition-delay: 0.5s;
}

.btn-buy:hover:before {
  transition-delay: 0s;
}

.btn-buy:hover:after {
  background: #fff;
  transition-delay: 0.35s;
}

.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:before {
  right: 0;
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
}

.from-left:after {
  left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
  width: 100%;
}

.banner img {
  width: 100%;
  height: 600px;
  object-position: center;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.banner-content h1 {
  color: #ffffff;
  font-size: 50px;
}
.banner-content a {
  margin-top: 10px;
}

.languages_section {
  text-align: center;
  padding-top: 3rem;
  background-color: linear-gradient(to right, #241471, #414cd9);
}
.languages_section p {
  font-weight: 700;
}
.languages_section picture source img {
  object-fit: contain;
  padding-right: 2rem;
  padding-left: 2rem;
  opacity: 1;
  vertical-align: middle;
}

.container-fluid p {
  margin-bottom: 1rem;
}

.common-padding {
  padding-right: 3% !important;
  padding-left: 3% !important;
}

.latest-code-para {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  letter-spacing: 2px;
}

.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: linear-gradient(to right, #241471, #414cd9);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: linear-gradient(to right, #241471, #414cd9);
}

.navbar-scrolled {
  background-color: #fff;
}

.btn-primary {
  background-color: linear-gradient(to right, #241471, #414cd9);
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: linear-gradient(to right, #241471, #414cd9);
  color: #fff;
}

.video-fluid {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  align-content: flex-start;
  justify-content: center;
}

.featuredItems_section {
  background-color: #c2daec;
  min-height: 80vh;
}
.featuredItems_section .app_load {
  color: #000;
  font-weight: 900;
}
.featuredItems_section .app_load a {
  color: #000;
}

.how-we-work .shape img {
  transform: translateX(15rem);
}

@media screen and (max-width: 600px) {
  .home img {
    height: 700px;
  }

  .home-content h1 {
    font-size: 60px;
  }
}
.slick-slider {
  width: 100%;
  margin: auto;
  background: #c2daec;
}

body .slick-prev,
body .slick-next {
  height: 45px;
  width: 40px;
  background: grey !important;
  z-index: 100;
}

.card-body .card-text {
  display: -webkit-box;
  opacity: 0.8;
  font-size: 15px;
  line-height: 1.33;
  color: #000;
  min-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-body .card-title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 26px;
  overflow: hidden;
  display: -webkit-box;
  opacity: 0.8;
  color: #1266f1;
}

@media screen and (max-width: 900px) {
  .slick-initialized .slick-slide {
    width: 10%;
    display: block;
  }
}

/*# sourceMappingURL=home.component.css.map */
