<section class="contact-us">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h2 class="mb-3" style="letter-spacing: 2px; color: #818963;">contact us</h2>
      <p class="mb-0 pb-5" style="letter-spacing: 1px;">
        I will help you realize your vision of a bouquet or decoration
      </p>
    </div>
  </div>
  <div class="row text-center mb-5">
    <div class="col-lg-4">
      <img src="https://mdbootstrap.com/img/Photos/new-templates/florist/img(12).jpg" alt="Contact"
           class="img-fluid" />
    </div>
    <div class="col-lg-8 mb-5 pt-4">
      <form class="pt-2">
        <mdb-form-control class="form-outline mb-4">
          <input type="text" id="form4Example1" class="form-control" />
          <label class="form-label" for="form4Example1">Name</label>
        </mdb-form-control>
        <mdb-form-control class="form-outline mb-4">
          <input type="text" id="form4Example11" class="form-control" />
          <label class="form-label" for="form4Example11">Topic</label>
        </mdb-form-control>
        <mdb-form-control class="form-outline mb-4">
          <input type="email" id="form4Example2" class="form-control" />
          <label class="form-label" for="form4Example2">Email address</label>
        </mdb-form-control>
        <mdb-form-control class="form-outline mb-4">
          <textarea class="form-control" id="form4Example3" rows="4"></textarea>
          <label class="form-label" for="form4Example3">Message</label>
        </mdb-form-control>
        <mdb-form-control type="submit" class="btn btn-primary btn-rounded btn-block">
          Send
        </mdb-form-control>
      </form>
    </div>
  </div>
</section>
