body {
  background-color: #000 !important;
  color: #fff;
}

.display-1,
.display-2,
h5 {
  font-weight: 700 !important;
}

@media (min-width: 1600px) {
  .display-1 {
    font-size: 10rem;
  }
}

.video-fluid {
  width: 100%;
  height: auto;
}

.multi-carousel {
  .multi-carousel-inner {
    .multi-carousel-item img {
      max-height: 100%;
    }

  }

}
