<body xmlns="http://www.w3.org/1999/html">
<section class="product-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8 my-auto">
      </div>
    </div>
  </div>
</section>
<section class="text-center text-md-start">
  <div class="container">
    <div class="card shadow-3-strong" style="
    margin-top: -100px;  ">
      <div class="card-body py-5 px-5">
        <div class="row gx-lg-4 align-items-center">
          <div class="col-lg-6 mb-4 mb-lg-0 text-center text-lg-start">
            <h1 class="">Product Source Details</h1>
            <!-- Breadcrumb -->
            <nav class="d-flex justify-content-center justify-content-lg-start">
              <h6 class="mb-0">
                <a href="" class="text-muted">Home </a> &nbsp;
                <span>/</span> &nbsp;
                <a href="" class="text-muted">Analytics </a>&nbsp;
                <span>/</span>&nbsp;
                <a href="" class="text-muted"><u>eCommerce </u></a>
              </h6>
            </nav>
            <!-- Breadcrumb -->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!--Main layout-->
<main class="mt-5 mb-10 details-main">
  <div class="container-fluid">
    <!-- Section: Product details -->
    <section class="">
      <div class="row justify-content-center">
        <div class="card d-flex flex-column shadow-3-strong col-md-6 mb-4 mb-md-0 mx-lg-5 justify-content-center">
          <!-- Gallery -->
          <div
            class="ecommerce-gallery vertical"
            data-mdb-zoom-effect="true"
            data-mdb-auto-height="true"
          >
            <div class="row gx-2 gx-lg-3 ">
              <div class="col-12 col-sm-12">
                <div class="lightbox-gallery-counter">
                  <mdb-carousel [controls]="true" [indicators]="true">
                    <mdb-carousel-item *ngFor="let image of itemProduct.img">
                      <img
                        [src]="image"
                        class="d-block w-100"
                        alt="..."
                      />
                    </mdb-carousel-item>
                  </mdb-carousel>
                </div>
              </div>
            </div>
          </div>
          <!-- Gallery -->
        </div>


        <div class=" col-md-5  mb-md-0">
          <!-- Details -->
          <div class="card shadow-3-strong product-price-infor mb-5">
            <div>
              <h1 class="fw-bold mb-2 mt-3 h2">{{itemProduct.title}}</h1>
              <hr class="my-3 mb-3"/>
              <div class="d-flex flex-md-nowrap text-primary flex-column">
                <ul
                  class="rating mb-3 me-2 "
                  data-mdb-toggle="rating"
                  data-mdb-readonly="true"
                  data-mdb-value="4"

                >
                  <li>
                    <i class="fas fa-tags fw-bolder"></i>
                  </li>
                  <li>

                  </li>
                  <div class="d-flex flex-wrap">
                    <li><a class="badge badge-light mb-0 mx-1">{{itemProduct.languageName}}</a></li>
                    <li><a class="badge badge-primary mb-0 mx-1">{{itemProduct.industryName}}</a></li>
                    <li><a class="badge badge-dark mb-0 mx-1">{{itemProduct.tagName}}</a></li>
                  </div>

                </ul>
                <ul
                  class="rating mb-3 me-2"
                  data-mdb-toggle="rating"
                  data-mdb-readonly="true"
                  data-mdb-value="4"
                >
                  <li>
                    <i
                      class="far fa-star fa-sm text-primary ps-0"
                      title="Bad"
                    ></i>
                  </li>
                  <li>
                    <i
                      class="far fa-star fa-sm text-primary"
                      title="Poor"
                    ></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-primary" title="OK"></i>
                  </li>
                  <li>
                    <i
                      class="far fa-star fa-sm text-primary"
                      title="Good"
                    ></i>
                  </li>
                  <li>
                    <i
                      class="far fa-star fa-sm text-primary"
                      title="Excellent"
                    ></i>
                  </li>
                </ul>

              </div>
              <h5 class="mb-3">
                <span class="align-middle h2 text-primary">${{itemProduct.price}}</span>
              </h5>

              <hr class="my-5"/>
              <div class="row my-5">
                <div class="col-lg-6 mb-3">
                  <button routerLink="/cart" class="btn btn-secondary w-100" (click)="addToCart(itemProduct)"><i
                    class="fas fa-shopping-cart"></i> &nbsp; Add to cart
                  </button>
                </div>

                <div class="col-lg-6">
                  <button class="btn btn-outline-secondary w-100"><i class="far fa-heart"></i> &nbsp;Add to favorites
                  </button>
                </div>
              </div>
              <!-- Details -->
            </div>
          </div>
          <div class="card shadow-3-strong created-by p-4 ">
            <div class="author">
              Created by&nbsp;
              <i class="fas fa-user-circle fs-6"></i> &nbsp;
              <span class="text-primary">{{itemProduct.author}}</span>
            </div>
            <p>Standard support to find out what is included</p>
            <button class="btn btn-outline-primary shadow-3-strong" (click)="openModal()">Click here</button>
          </div>
        </div>
      </div>
    </section>

  </div>

</main>
<!--Main layout-->
<!--Details layout-->
<section class="product-description-section">
  <div class="container-fluid common-padding description-inner">
    <div class="section_title mx-5">
      Product <span>Details</span>
    </div>
    <div class="description-tab row justify-content-center">
      <div class="col-12 mb-7" style="width: 95%">
        <mdb-tabs [pills]="true" [justified]="true">
          <mdb-tab title="Product details" class="fw-bold">
            <div class="card details-content shadow-1-strong p-3">
              <p>
                {{itemProduct.description}}
              </p>

            </div>

          </mdb-tab>
          <mdb-tab title="Price Statistics">Tab content 2</mdb-tab>
          <mdb-tab title="Talk to Seller">Tab content 3</mdb-tab>
        </mdb-tabs>

      </div>

    </div>
  </div>
</section>
<!--Details layout-->
<!--Related Product-->
<section class="product-related-section">
  <div class="container-fluid common-padding description-inner">
    <div class="section_title mx-5">
      Product <span>Related</span>

    </div>
    <div class="row mx-4" id="products">
      <div class="col-lg-3 col-md-6 mb-4">
        <!-- Card -->
        <div class="card card-ecommerce">
          <!-- Card image -->
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-mdb-ripple-color="light"
          >
            <img alt="" class="img-fluid"
                 src="https://propiece.s3-ap-northeast-1.amazonaws.com/product_image_thumbnail/thumbnail-3382.webp">
            <a routerLink="/product-details">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card image -->
          <!-- Card content -->
          <div class="card-body">
            <!-- Language & Title -->
            <h5 class="card-title mb-1">
              <strong>
                <a class="dark-grey-text" href="">CODING</a>
              </strong>
            </h5>
            <span class="badge badge-info mb-2">VS</span>
            <span class="badge badge-light mb-2">HTML</span>
            <span class="badge badge-dark mb-2">CSS</span>
            <!--                  Description-->

            <p class="card-text"></p>
            <!-- Author -->
            <div class="author">
              <p>added by
                <span class="author-name">
                    <a href="#">Solution System</a> </span></p>

            </div>
            <!-- Card footer -->
            <div class="card-footer pb-0">
              <div class="mb-0 d-flex flex-row justify-content-between w-100 align-items-center">
                    <span class="price">
                        <strong>$1999</strong>
                      </span>
                <span class="buy">
                        <a class="" data-placement="top" data-toggle="tooltip" title="Add to Cart">
                         <button type="button" class="btn btn-primary">Buy</button>
                        </a>
                      </span>
              </div>
            </div>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <!-- Card -->
        <div class="card card-ecommerce">
          <!-- Card image -->
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-mdb-ripple-color="light"
          >
            <img alt="" class="img-fluid"
                 src="https://propiece.s3-ap-northeast-1.amazonaws.com/product_image_thumbnail/thumbnail-3382.webp">
            <a routerLink="/product-details">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card image -->
          <!-- Card content -->
          <div class="card-body">
            <!-- Language & Title -->
            <h5 class="card-title mb-1">
              <strong>
                <a class="dark-grey-text" href="">Gamming Mode</a>
              </strong>
            </h5>
            <span class="badge badge-info mb-2">JS</span>
            <span class="badge badge-light mb-2">HTML</span>
            <span class="badge badge-dark mb-2">CSS</span>
            <!--                  Description-->

            <p class="card-text"></p>
            <!-- Author -->
            <div class="author">
              <p>added by
                <span class="author-name">
                    <a href="#">Solution System</a> </span></p>

            </div>
            <!-- Card footer -->
            <div class="card-footer pb-0">
              <div class="mb-0 d-flex flex-row justify-content-between w-100 align-items-center">
                    <span class="price">
                        <strong>$1999</strong>
                      </span>
                <span class="buy">
                        <a class="" data-placement="top" data-toggle="tooltip" title="Add to Cart">
                         <button type="button" class="btn btn-primary">Buy</button>
                        </a>
                      </span>
              </div>
            </div>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>

    </div>
  </div>
</section>
<!--Related Product-->
</body>
