body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 80%);
}
.product-banner {
  position: relative;
  background: url(../../../../assets/image/banner/product-banner.png) center center no-repeat;
  background-size: cover;
  padding: 120px 0px;
  z-index: 0;
}
.product-price-infor {
  padding: 20px;
}
.section_title{
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  margin-bottom: 1rem;
  span{
    color: #414cd9;
  }
}
img{
  max-height: 600px;
}
