<section class="product-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8 my-auto">
      </div>
    </div>
  </div>
</section>


<section class="text-center text-md-start" style="  background-color: hsl(0, 0%, 97%);">

  <div class="container">
    <div class="card shadow-3-strong" style="
    margin-top: -100px;  ">
      <div class="card-body py-5 px-5">
        <div class="row gx-lg-4 align-items-center">
          <div class="col-lg-6 mb-4 mb-lg-0 text-center text-lg-start">
            <h1 class="">Product Source List</h1>
            <!-- Breadcrumb -->
            <nav class="d-flex justify-content-center justify-content-lg-start">
              <h6 class="mb-0">
                <a href="" class="text-muted">Home </a> &nbsp;
                <span>/</span> &nbsp;
                <a href="" class="text-muted">Analytics </a>&nbsp;
                <span>/</span>&nbsp;
                <a href="" class="text-muted"><u>eCommerce </u></a>
              </h6>
            </nav>
            <!-- Breadcrumb -->
          </div>
          <div class="col-lg-6 text-center text-lg-end">
            <div class="row justify-content-center justify-content-lg-end">
              <div class="col-lg-3 col-md-12 mb-3 mb-md-3 mb-sm-3">
                <mdb-form-control>
                  <mdb-select>
                    <mdb-option *ngFor="let option of languages" [value]="option.value">{{
                      option.label
                      }}</mdb-option>
                  </mdb-select>
                  <label mdbLabel class="form-label">Languages</label>
                </mdb-form-control>
              </div>
              <div class="col-lg-4 col-md-12 mb-3 mb-md-3 mb-sm-3">
                <mdb-form-control>
                  <mdb-select>
                    <mdb-option *ngFor="let option of category" [value]="option.value">{{
                      option.label
                      }}</mdb-option>
                  </mdb-select>
                  <label mdbLabel class="form-label">Category</label>
                </mdb-form-control>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12 mb-4 mb-md-0">
                <form class="d-flex input-group w-auto">
                  <input
                    type="search"
                    class="form-control rounded"
                    placeholder="Search"
                    aria-label="Search"
                  />
                  <span class="input-group-text border-0" id="search-addon">
                    <a href="#">  <button type="button" class="btn btn-secondary btn-rounded w-100">Search</button></a>
               </span>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Heading -->


<body class="category-v3 hidden-sn white-skin animated">
<!-- Main Container -->
<div class="container">
  <div class="row pt-4">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-8 col-md-8 text-right">
          <a class="btn blue darken-3 btn-sm">
            <i aria-hidden="true" class="fas fa-th mr-2"></i>
            <strong> Grid</strong>
          </a>
          <a class="btn blue darken-3 btn-sm">
            <i aria-hidden="true" class="fas fa-th-list mr-2"></i>
            <strong> List</strong>
          </a>
        </div>
      </div>
      <section class="product-list pt-4">
        <div class="row" id="products">
          <div class="col-lg-3 col-md-6 mb-4" *ngFor="let product of products">
            <!-- Card -->
            <div class="card card-ecommerce">
              <!-- Card image -->
              <div class="view overlay">
                <img alt="" class="img-fluid"
                     src="https://propiece.s3-ap-northeast-1.amazonaws.com/product_image_thumbnail/thumbnail-3382.webp">
                <a href="/product-details">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body">
                <!-- Category & Title -->
                <h5 class="card-title mb-1">
                  <strong>
                    <a class="dark-grey-text" href="">{{product.title}}</a>
                  </strong>
                </h5>
                <span class="badge badge-info mb-2">{{product.category}}</span>
                <span class="badge badge-light mb-2">HTML</span>
                <span class="badge badge-dark mb-2">CSS</span>
                <!--                  Description-->

                <p class="card-text">{{product.description}}</p>
                <!-- Author -->
                <div class="author">
                  <p>added by
                    <span class="author-name">
                    <a href="#">{{product.author}}</a> </span></p>

                </div>
                <!-- Card footer -->
                <div class="card-footer pb-0">
                  <div class="mb-0 d-flex flex-row justify-content-between w-100 align-items-center">
                    <span class="price">
                        <strong>{{product.price}}$</strong>
                      </span>
                    <span class="buy">
                        <a class="" data-placement="top" data-toggle="tooltip" title="Add to Cart">
                         <button type="button" class="btn btn-primary">Buy</button>
                        </a>
                      </span>
                  </div>
                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
        </div>
        <div class="row justify-content-center mb-4">
          <!-- Pagination -->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
          <!-- Pagination -->
        </div>
      </section>
    </div>
  </div>
</div>
<!-- Main Container -->
</body>


<script type="text/javascript">
  /* WOW.js init */
  new WOW().init();
  // Tooltips Initialization
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  // Material Select Initialization
  $(document).ready(function () {
    $('.mdb-select').material_select();
  });
  // SideNav Initialization
  $(".button-collapse").sideNav();
</script>
