

<header>

  <section>
    <!-- Intro -->
    <div id="intro" class="text-center bg-image vh-100" style="
          background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/full%20page/img%20%282%29.jpg');
        ">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100 mt-4">
          <div class="text-white">
            <h1 class="display-3 font-weight-bold text-uppercase my-4">Source code</h1>
            <h4 class="mb-4 pb-2">Professional</h4>
            <p class="lead">- EST. 2022 -</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->
</header>

<main style="background-color: #deded5">
  <div class="container">
    <!--Section: Design Block-->
    <section>
      <h2 class="text-center mb-5 pt-5">About us</h2>

      <div class="row">
        <div class="col-lg-5 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
          <div class="bg-image">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2829%29.jpg"
                 class="img-fluid shadow-3 rounded" alt="Sample image" />
          </div>
        </div>
        <div class="col-lg-7">
          <h4 class="mb-3 mt-5">
            We want to bring a community "download and share source code"
          </h4>
          <p class="lead mb-0">
            Starting from the purpose of wanting to create an online community for programmers, information technology students, members with interests and passion for programming... Can exchange and share experiences together. experience, programming skills as well as exchange of problems encountered. From there, you can improve your knowledge to refer to your work and study.          </p>
        </div>
      </div>
    </section>
    <!--Section: Design Block-->
  </div>

  <!--Section: Design Block-->
  <section>
    <div class="bg-image bg-fixed text-center" style="
          background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20%2824%29.jpg');
          height: 400px;
        ">
      <div class="mask" style="background-color: rgba(63, 81, 181, 0.3);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <p class="display-6 mb-5">
              If you need... We are available
            </p>
            <a class="btn btn-outline-white btn-lg" role="button" routerLink="/contact">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Design Block-->

  <div class="container my-5">


<div style="background-color: #deded5">

    <!--Section: Design Block-->
    <section class="text-center">
      <h2 class="mb-5">Our Team</h2>
      <div class="row d-flex justify-content-center" >
        <div class="col-md-6 col-lg-3 mb-md-0 mb-4">


          <img class="col-2 rounded shadow-1-strong mb-4"
               src="assets/icons/avata.webp"
               alt="avatar" style="width: 150px;" />

          <h5 class="mb-3">Lê Trung Nhân</h5>
          <p>Leader</p>
          <ul class="list-unstyled mb-0">
            <a href="https://github.com/letrungnhan" class="px-2">
              <i class="fa-brands fa-github" style="color: black"></i>
            </a>
            <a href="https://www.facebook.com/lltnhan" class="px-2">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 pb-3">
          <img class="rounded shadow-1-strong mb-4"
               src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
               alt="avatar" style="width: 150px;" />
          <h5 class="mb-3">Hồ Xuân Thịnh</h5>
          <p>Member</p>
          <ul class="list-unstyled mb-0">
            <a href="#!" class="px-2">
              <i class="fa-brands fa-github" style="color: black"></i>
            </a>
            <a href="#!" class="px-2">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </ul>
        </div>
      </div>
    </section>
</div>
  </div>

</main>

