@media (max-width: 991px) {
  .navbar-scroll {
    background-color: #444;
  }
}
.navbar-scroll {
  .navbar-brand {
    color: #fff;
  }
}
.navbar-scrolled {
  background-color: #444;
  .navbar-brand {
    color: #fff;
  }
  .nav-link {
    color: #fff;
  }
  .fa-bars {
    color: #fff;
  }
}

