.navbar {
  background-color: #ffffff;
}

.navbar-light {
  .navbar-nav {

    .nav-item {
      a {
        color: #000000;
        font-size: 16px;
        &:hover{
          text-decoration: underline;
        }
      }


    }
  }

}
