<div style="height: 58px">
</div>
<main class="mb">
  <div class="container">
    <!-- Section: Login form -->
    <section class="">
      <div class="row d-flex justify-content-center main-content ">
        <div class="col-xl-6 ">
          <div class="left-box">
            <div class="text-block p-3">
              <h1 class="mt-3 mb-5 mx-2">What can you do on here?</h1>
              <ul>
                <li><b>Marketplace</b> - Buy/Sell Source Code in any Programming Language</li>
                <li><b>PieceX OSS</b> - Get/Provide Support for your Open Source Code</li>
                <li><b>PieceX IoT</b> - List your IoT Software for an endless variety of potential hardware</li>
                <li><b>Wallet</b> - Easier budget management with PieceX Wallet for prepaid payment</li>
                <li><b>Request</b> - Request the source code you want from tens of thousands of users</li>
                <li><b>Community</b> - Build connections with Buyers and potential Business Partners</li>
                <li><b>Global network</b> - Expand your Network overseas and Increase your Standing in the Market</li>

              </ul>
            </div>
          </div>

        </div>
        <div class="col-xl-5 col-md-8 mt-3">
          <div class="card rounded-5">
            <div class="card-body p-4">

              <!-- Pills content -->
              <div class="tab-content">

                <div>
                  <form [formGroup]="registerForm" (ngSubmit)="submit()">
                    <div class="text-center mt-1 mb-1">
                      <p>Sign Up</p>

                    </div>

                    <!-- Name input -->
                    <div class="row my-4">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput mdbValidate type="name" class="form-control form-control-lg" name="name"
                               id="register-name" required formControlName="username">
                        <label mdbLabel for="register-name" class="form-label">Username</label>
                        <mdb-error class="mt-1 mx-1"
                                   *ngIf=" username?.invalid && (username?.dirty || username?.touched) "
                        >Name is required
                        </mdb-error
                        >
                        <mdb-success class="mt-3 mx-1"
                                     *ngIf=" username?.valid && (username?.dirty || username?.touched)  ">
                        </mdb-success
                        >
                      </mdb-form-control>
                    </div>
<!--  Username input -->
<!--           Email input -->
                    <div class="row my-4 ">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput mdbValidate type="email" class="form-control form-control-lg" name="email"
                               id="register-email" required formControlName="email">
                        <label mdbLabel for="register-email" class="form-label">Email</label>
                        <mdb-error class="mt-1 mx-1"
                                   *ngIf=" email?.errors?.['required'] ">
                        </mdb-error
                        >
                        <mdb-error class="mt-1 mx-1"
                                   *ngIf=" email?.errors?.['email'] "
                        >Email wrong format
                        </mdb-error
                        >
                        <mdb-success class="mt-3 mx-1"
                                     *ngIf=" email?.valid && (email?.dirty || email?.touched)  ">
                        </mdb-success
                        >
                      </mdb-form-control>
                    </div>

                    <!-- Password input -->
                    <div class="row my-4">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput mdbValidate type="password" class="form-control form-control-lg" name="password"
                               id="register-password" required formControlName="password">
                        <label mdbLabel for="register-password" class="form-label">Password</label>
                        <mdb-error class="mx-1 mt-1"
                                   *ngIf=" password?.invalid && (password?.dirty || password?.touched) "
                        >Password is required
                        </mdb-error
                        >
                        <mdb-success class="mt-3 mx-1"
                                     *ngIf=" password?.valid && (password?.dirty || password?.touched)  ">
                        </mdb-success
                        >
                      </mdb-form-control>
                    </div>

                    <!-- Repeat Password input -->
                    <div class="row my-4 mb-5">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput mdbValidate type="password" class="form-control form-control-lg" name="repeat password"
                               id="register-repeat" required formControlName="repeat">
                        <label mdbLabel for="register-repeat" class="form-label">Repeat Password</label>
                        <mdb-error class="mx-1 mt-1"
                                   *ngIf=" repeat?.invalid && (repeat?.dirty || repeat?.touched) "
                        >RepeatPassword is required
                        </mdb-error>
                        <mdb-error class="mx-1 mt-1"
                                   *ngIf=" registerForm.errors?.['passwordsDontMatch'] "
                        >RepeatPassword should match
                        </mdb-error>
                        <mdb-success class=""
                                     *ngIf=" repeat?.valid && (repeat?.dirty || repeat?.touched)  ">
                        </mdb-success
                        >
                      </mdb-form-control>
                    </div>

                    <!-- Checkbox -->
                    <div
                      class="form-check d-flex justify-content-center align-items-center mb-4"
                    >
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="registerCheck"
                        aria-describedby="registerCheckHelpText"
                        required
                        checked

                      />
                      <label class="form-check-label mt-1" for="registerCheck">
                        I have read and agree to the terms
                      </label>
                    </div>

                    <!-- Submit button -->
                    <button
                      type="submit"
                      class="btn btn-primary btn-rounded w-100 mb-3">
                      Register
                    </button>
                    <div class="text-center">
                      If you are a member. <a routerLink="/login">Login</a>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Pills content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--     Section: Login form -->
  </div>
</main>

<router-outlet> </router-outlet>
