<main class="mb-0 d-flex align-items-center">
  <div class="container-fluid">
    <!-- Section: Login form -->
    <section class="section-login">
      <div class="row d-flex justify-content-center ">
        <div class="col-lg-5 col-sm-8 mt">
          <div class="card rounded-5">
            <div class="card-body p-4">
              <!-- Pills content -->
              <div class="tab-content">
                <div>
                  <form [formGroup]="loginForm" (ngSubmit)="submit()">
                    <div class="text-center mt mb-2">
                      <p>Login with:</p>
                      <button
                        type="button"
                        class="btn btn-link btn-lg btn-floating mx-2"
                        data-ripple-color="primary"

                      >
                        <a (click)="signInWithFacebook()">
                          <img class="icons h-5 w-5" src="assets/icons/facebook.png">
                        </a>
                      </button>

                      <button
                        type="button"
                        class="btn btn-link btn-lg btn-floating mx-2"
                        data-ripple-color="primary"
                      >
                        <a (click)="signInWithGoogle()">
                          <img class="icons h-5 w-5" src="assets/icons/google.png">
                        </a>
                      </button>

                    </div>
                    <p class="text-center mb-4">or:</p>
                    <!-- Email input -->
                    <div class="row my-3 mb-5">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput mdbValidate type="email" class="form-control form-control-lg" name="email"
                               id="login-email" required formControlName="email">
                        <label mdbLabel for="login-email" class="form-label">Email or Username</label>
                        <mdb-error class="mt-3 mx-1"
                                   *ngIf=" email?.invalid && (email?.dirty || email?.touched) "
                        >Email is required
                        </mdb-error
                        >
                        <mdb-success class="mt-3 mx-1"
                                     *ngIf=" email?.valid && (email?.dirty || email?.touched)  ">Looks good!
                        </mdb-success
                        >
                      </mdb-form-control>
                    </div>
                    <!-- Password input -->

                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput
                               mdbValidate
                               type="password"
                               class="form-control form-control-lg" name="password"
                               id="login-password" required formControlName="password">
                        <label mdbLabel for="login-password" class="form-label">Password</label>
                        <mdb-error class="mt-3 mx-1" *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                        >Pass word is required
                        </mdb-error
                        >
                        <mdb-success class="mt-3 mx-1" *ngIf="password?.valid && (password?.dirty || password?.touched)"
                        >Looks good!
                        </mdb-success
                        >
                      </mdb-form-control>
                    </div>
                    <!-- 2 column grid layout -->
                    <div class="row mb-4 mt-5">
                      <div class="col-md-6 d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-3 mb-md-0">
                          <input
                            class="form-check-input mt-2"
                            type="checkbox"
                            value=""
                            id="loginCheck"
                            checked
                            required
                          />
                          <label class="form-check-label mt-1" for="loginCheck">
                            Remember me
                          </label>
                        </div>
                      </div>

                      <div class="col-md-6 d-flex justify-content-center">
                        <!-- Simple link -->
                        <a routerLink="/forgotPassword" >Forgot password?</a>
                      </div>
                    </div>

                    <!-- Submit button -->
                    <button
                      type="submit"
                      class="btn btn-primary btn-rounded w-100 mb-4"
                    >
                      Sign in
                    </button>

                    <!--Register buttons-->
                    <div class="text-center">
                      Not a member? <a routerLink="/register">Register</a>
                    </div>

                  </form>
                </div>
              </div>
              <!-- Pills content -->
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 d-flex justify-content-around align-items-center ms-4 ">
          <div class="row justify-content-between">
            <div class="col-lg-10">
              <div class="left-box d-flex justify-content-around flex-column">
                <div class="row  justify-content-center align-items-center mb-7">
                  <div class="images-box col-4">
                    <div class="white-box d-flex justify-content-center align-items-center">
                      <img src="/assets/icons/technology.png" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="iner col-8">
                    <a class="affiliate_link" href=""><h2> Become Affiliate</h2></a>
                    Earn 10% of first purchase made by your referral
                  </div>
                </div>
                <div class="row  justify-content-center align-items-center">
                  <div class="images-box col-4">
                    <div class="white-box d-flex justify-content-center align-items-center">
                      <img src="/assets/icons/technology.png" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="iner col-8">
                    <a class="affiliate_link" href="/homes/affiliate_program"><h2> Become Affiliate</h2></a>
                    Earn 10% of first purcha se made by your referral
                  </div>
                </div>
                <button routerLink="/product" type="button" class="btn btn-primary btn-rounded mt-5 ">Primary</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Login form -->
  </div>
</main>


