
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <p>
    Ecomer cam kết cung cấp đến khách hàng những giải pháp tài chính đầy tham vọng, vượt trội, uy tín và đáng tin cậy
    nhằm giúp cho các sự lựa chọn quan trọng của khách hàng trở nên dễ dàng hơn. Trong đó bao gồm cả việc đảm bảo tính
    bảo mật đối với tất cả các thông tin cá nhân của chính họ. Trong quá trình quản lý thông tin, website  luôn tuân thủ
    theo các Nguyên tắc Bảo mật chặc chẽ
  </p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="modalRef.close()">
    Close
  </button>

</div>
