<main class="mb0 d-flex align-items-center">
  <div class="container mt-1 ">
    <!-- Section: Login form -->
    <section class="section-login">
      <div class="row justify-content-center mb-14">
        <div class="col-lg-5 col-sm-8 mt">
          <div class="card rounded-5 ">
            <div class="card-body p-4">
              <!-- Pills content -->
              <div class="tab-content">
                <div>
                  <form class="">
                    <div class="text-center mt mb-2">
                      <h1 style="font-weight: bold; font-size: large">Forgot Password</h1>
                    </div>
                    <div class="text-center mt mb-2">
                      <p style="font-size: large" >Please enter your email to search for your account.</p>
                    </div>

                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput
                               mdbValidate
                               type="email"
                               class="form-control form-control-lg" name="email"
                               id="login-password" required formControlName="email">
                        <label mdbLabel for="login-password" class="form-label">Email</label>

                      </mdb-form-control>
                    </div>

                    <button
                      (click)="forgotPassword()"
                      type="submit"
                      class="btn btn-primary btn-rounded w-100 mb-4">
                      Send link
                    </button>

                    <!--Register buttons-->
                    <div class="text-center">
                      <a routerLink="/login">Back to</a>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Pills content -->
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- Section: Login form -->
  </div>
</main>


