<div style="height: 58px">
</div>
<main class="mb-6">
  <div class="container">
    <!-- Section: Login form -->
    <section class="">
      <div class="row d-flex justify-content-center ">
        <div class="col-xl-5 col-md-8 mt">
          <div class="card rounded-5">
            <div class="card-body p-4">

              <!-- Pills content -->
              <div class="tab-content">

                <div>
                  <form>
                    <div class="text-center mt-4 mb-2">
                      <p>Register with:</p>
                      <button
                        type="button"
                        class="btn btn-link btn-lg btn-floating"
                        data-ripple-color="primary"
                      >
                        <i class="fab fa-facebook-f"></i>
                      </button>

                      <button
                        type="button"
                        class="btn btn-link btn-lg btn-floating"
                        data-ripple-color="primary"
                      >
                        <i class="fab fa-google"></i>
                      </button>

                      <button
                        type="button"
                        class="btn btn-link btn-lg btn-floating"
                        data-ripple-color="primary"
                      >
                        <i class="fab fa-twitter"></i>
                      </button>

                      <button
                        type="button"
                        class="btn btn-link btn-lg btn-floating"
                        data-ripple-color="primary"
                      >
                        <i class="fab fa-github"></i>
                      </button>
                    </div>

                    <p class="text-center mb-4">or:</p>

                    <!-- Name input -->
                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput type="text" class="form-control form-control-lg" name="email" id="name">
                        <label mdbLabel for="email" class="form-label">Name</label>
                      </mdb-form-control>
                    </div>
<!--                    <div class="form-outline mb-4">-->
<!--                      <mdb-form-control class="col-md-12">-->
<!--                      <input-->
<!--                        type="text"-->
<!--                        id="registerName"-->
<!--                        class="form-control"-->
<!--                      />-->
<!--                      <label class="form-label" for="registerName"-->
<!--                      >Name</label-->
<!--                      >-->
<!--                      </mdb-form-control>-->
<!--                    </div>-->

                    <!-- Username input -->
                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput type="text" class="form-control form-control-lg" name="email" id="username">
                        <label mdbLabel for="username" class="form-label">Username</label>
                      </mdb-form-control>
                    </div>

                    <!-- Email input -->
                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput type="text" class="form-control form-control-lg" name="email" id="register-email">
                        <label mdbLabel for="register-email" class="form-label">Email</label>
                      </mdb-form-control>
                    </div>

                    <!-- Password input -->
                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput type="password" class="form-control form-control-lg" name="email" id="register-password">
                        <label mdbLabel for="register-password" class="form-label">Password</label>
                      </mdb-form-control>
                    </div>

                    <!-- Repeat Password input -->
                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput type="password" class="form-control form-control-lg" name="email" id="repeat-password">
                        <label mdbLabel for="repeat-password" class="form-label">Repeat Password</label>
                      </mdb-form-control>
                    </div>

                    <!-- Checkbox -->
                    <div
                      class="form-check d-flex justify-content-center mb-4"
                    >
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="registerCheck"
                        checked
                        aria-describedby="registerCheckHelpText"
                      />
                      <label class="form-check-label mt-1" for="registerCheck">
                        I have read and agree to the terms
                      </label>
                    </div>

                    <!-- Submit button -->
                    <button
                      type="submit"
                      class="btn btn-primary btn-rounded w-100 mb-3"
                    >
                      Register
                    </button>
                  </form>
                </div>
              </div>
              <!-- Pills content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--     Section: Login form -->
  </div>
</main>

