<div style="height: 58px">
</div>
<main class="mb">
  <div class="container">
    <!-- Section: Login form -->
    <section class="">
      <div class="row d-flex justify-content-center ">
        <div class="col-xl-6 ">
          <div class="left-box">
            <div class="text-block p-3">
              <h1 class="mt-3 mb-5 mx-2">What can you do on here?</h1>
              <ul>
                <li><b>Marketplace</b> - Buy/Sell Source Code in any Programming Language</li>
                <li><b>PieceX OSS</b> - Get/Provide Support for your Open Source Code</li>
                <li><b>PieceX IoT</b> - List your IoT Software for an endless variety of potential hardware</li>
                <li><b>Wallet</b> - Easier budget management with PieceX Wallet for prepaid payment</li>
                <li><b>Request</b> - Request the source code you want from tens of thousands of users</li>
                <li><b>Community</b> - Build connections with Buyers and potential Business Partners</li>
                <li><b>Global network</b> - Expand your Network overseas and Increase your Standing in the Market</li>

              </ul>
              <a href="/enterprises" class="already-account">Are you a startup or company! </a>
              <a href="/enterprises" class="greendiv">Create Enterprise Account</a>
            </div>
          </div>

        </div>
        <div class="col-xl-5 col-md-8">
          <div class="card rounded-5">
            <div class="card-body p-4">

              <!-- Pills content -->
              <div class="tab-content">

                <div>
                  <form>
                    <div class="text-center mt-2 mb-1">
                      <p>Register with:</p>
                      <button
                        type="button"
                        class="btn btn-link btn-lg btn-floating mx-2"
                        data-ripple-color="primary"

                      >
                        <a href="https://www.facebook.com/lltnhan">
                          <a class="w-50 h-50"><img class="icons" src="assets/icons/facebook.png"></a>
                        </a>
                      </button>

                      <button
                        type="button"
                        class="btn btn-link btn-lg btn-floating mx-2"
                        data-ripple-color="primary"
                      >
                        <a href="https://www.facebook.com/lltnhan">
                          <a class="w-50 h-50"><img class="icons" src="assets/icons/google.png"></a>
                        </a>

                      </button>
                    </div>

                    <p class="text-center mb-4">or:</p>

                    <!-- Name input -->
                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput type="text" class="form-control form-control-lg" name="email" id="register-name" required>
                        <label mdbLabel for="register-name" class="form-label">Name</label>
                      </mdb-form-control>
                    </div>
<!--  Username input -->
                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput type="text" class="form-control form-control-lg" name="email" id="username" required>
                        <label mdbLabel for="username" class="form-label">Username</label>
                      </mdb-form-control>
                    </div>

                    <!-- Email input -->
                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput type="text" class="form-control form-control-lg" name="email" id="register-email" required>
                        <label mdbLabel for="register-email" class="form-label">Email</label>
                      </mdb-form-control>
                    </div>

                    <!-- Password input -->
                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput type="password" class="form-control form-control-lg" name="email" id="register-password" required>
                        <label mdbLabel for="register-password" class="form-label">Password</label>
                      </mdb-form-control>
                    </div>

                    <!-- Repeat Password input -->
                    <div class="row my-3">
                      <mdb-form-control class="col-md-12">
                        <input mdbInput type="password" class="form-control form-control-lg" name="email" id="repeat-password" required>
                        <label mdbLabel for="repeat-password" class="form-label">Repeat Password</label>
                      </mdb-form-control>
                    </div>

                    <!-- Checkbox -->
                    <div
                      class="form-check d-flex justify-content-center align-items-center mb-4"
                    >
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="registerCheck"
                        aria-describedby="registerCheckHelpText"
                        required

                      />
                      <label class="form-check-label mt-1" for="registerCheck">
                        I have read and agree to the terms
                      </label>
                    </div>

                    <!-- Submit button -->
                    <button
                      type="submit"
                      class="btn btn-primary btn-rounded w-100 mb-3"
                    >
                      Register
                    </button>
                  </form>
                </div>
              </div>
              <!-- Pills content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--     Section: Login form -->
  </div>
</main>

<router-outlet> </router-outlet>
